[submodule "upstream"]
	path = upstream
	url = https://github.com/devcontainers/cli
	branch = main
[submodule "spec"]
	path = spec
	url = https://github.com/devcontainers/spec
[submodule "tap"]
	path = tap
	url = https://github.com/jooh/homebrew-devcontainer-rs
